@import("../../../../stylus/index.styl");
.list 
    .list-item

        display: block
        margin-bottom: $margin
        img 
          float left
          width $wimg
          height $himg
          border-radius: 0.07rem
          margin-left: 0.1rem
          margin-right: $margin
         
         .frbox 
            width auto
            h3
             margin-bottom: $h18
             font-size: $marginJl
            p
             color: $price-color
             font-size: $marginJl
        
         