@import ('../../stylus/index.styl')
  .form
      margin-top $marintop
     .form-forget
       height $forget
       line-height: $forget
       margin-bottom: $margin 
      i
       position absolute

       right $paddingRG
     span 
      position absolute
      left  $absolleft
    .input
        width $auto85Vw
        margin $marginJl
        border-bottom: $borderWidth solid $font-color2
   
          

         
    
       
          