@import ('../../stylus/index.styl')
  .form
      margin-top $marintop
     span 
      position absolute
      left  $absolleft
    .input
        width $auto85Vw
        margin $marginJl
        border-bottom: $borderWidth solid $font-color2