@import("../../../../stylus/index.styl");
 .Info
     margin: $margin
     .Info-title
        float left
       h2
        font-size: $h40
        margin-left: $margin
        margin-bottom: $margin
       .price
         color: $price-color
         font-size: $h2
         margin-left: $margin
         margin-bottom: $margin
       .mark-price
         text-decoration: line-through
         font-size: $h2
         margin-left:$padding
    .Info-new 
      
       p
        float left
        border:$borderWidth solid  $primary
        width $h80
        height $h40
        line-height: $h40
        text-align: center
        color: $primary
        margin: $margin