@import("../../../../stylus/index.styl");
.nav
    display: flex
    background: yellow
    margin-bottom:  $margin

    .nav-box
        background: $Navbg
        width $Navflex
        height $Navflex
        margin: $padding
        h3 
            font-size: $h1 
            color: $primary