@import ('./color.styl');
@import ('./size.styl');

.btn {
    background: $primary;
    color: $font-fff;
    font-size: $h3;
    text-align: center;
    height: $buttonHeight;
    width: 80%;
    border-radius: $margin;
    line-height: $buttonHeight;
    margin:0 auto;
}
.flash{
    float left
    width $flashw
    height $flash
    color: $font-fff;
    font-size: $h4;
    text-align: center;
    line-height: $flash
    background: $primary;
    border-radius: 0.08rem
}