$footerHeight = 1.2rem;
$headerHeight = 0.8rem;

$h1 = 0.5rem;
$h2 = 0.3rem;
$h3 = 0.2rem;
$h18=0.18rem
$h4 = 0.12rem;
$h40=0.4rem
$h80=0.8rem
$margin = 0.2rem;
$padding = 0.1rem;

$buttonHeight = 0.6rem;

$borderWidth = 0.02rem;

$bannerHeight = 3.8rem;

// input表单距离

$absolleft=0.43rem
$marintop=1.1rem
$marginJl=0.4rem
$forget=0.5rem
$paddingRG=0.8rem
$auto85Vw=85vw
// 首页列表
  $wimg=2rem
  $himg=2rem
  // 首页导航
  $Navflex=1.5rem
// 立即抢购btn
  $flashw=1.5rem
  $flash=0.5rem
  // 删除按钮
  $delw=1.8rem
  $zongw=9rem

