@import ('../../stylus/index.styl')
.detail
    padding-bottom: $buttonHeigh
    .footer
        width: 100vw 
        height: $buttonHeigh 
        box-sizing: border-box
        position: fixed
        left 0
        bottom: 0
        background: $font-fff
        border-top: $borderWidth solid $font-color3
     .flash
         float right
         margin-right: $margin   